name: Dart CI

on:
  push:
    branches:
      - main
      - feature/**
      - chore/**
      - ci/**
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install dependencies
        run: dart pub get

      - name: Analyze source
        run: dart analyze

      - name: Run tests
        run: dart test
